    <%= form_for @part do |f| %>
        <%= f.label :name, "Part Name" %>
        <%= f.text_field :name %>
        <%= f.hidden_field :song_id, :value => @song.id %>
        <div>
            <%= f.label :exclusive, "Is this part exclusive?" %>
            <%= f.select :exclusive, ["Yes", "No"] %>
        </div>
        <div>
            <%= f.label :solo, "Is this part a solo or chorus?" %>
            <%= f.select :solo, ["Solo", "Chorus"] %>
        </div>
        <%= f.submit %>
    <% end %>