<div><%= @song.title %></div>
<div>Notes: <%= @song.notes %></div>
<div>Holiday: <%= @song.holiday? %></div>
<div>Active: <%= @song.active? %></div>
<%= link_to "Edit Song Details", edit_song_path(@song) %>
<%= button_to "Delete this song", song_path(@song), "method" => :delete,
    data: {:confirm => "Are you sure?"} %>

<div>
    <div>Parts Needed to Perform This Song</div>
    <% if @song.parts.count > 0 %>
    <div>Click on each part to add/change singers</div>
    <ul>
        <% @song.parts.each do |part| %>
            <li><%= link_to part.name, song_part_path(@song, part) %> 
                (<%= part.solo? ? "Solo" : "Chorus" %><%= if part.exclusive? then ", Exclusive" end %>)
            </li>
            <ul>
                <% part.singers.each do |singer| %>
                    <li>
                        <%= singer.name %>
                        <% if part.primary_singer == singer %>
                            - Primary
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </ul>
    <% else %>
        <div>This song has no voice parts assigned yet</div>
    <% end %>
</div>

<%= link_to "Add Part", new_song_part_path(@song) %>
<%= link_to "All Songs", songs_path %>